# CRE Secrets Configuration (do not commit secrets.yaml)
# Note: env var name must NOT be a substring of the secret name (CRE CLI bug)
secrets:
  UNISWAP_API_KEY_SECRET:
    env: UNISWAP_API_KEY_VAR
  DEPLOYER_KEY_SECRET:
    env: DEPLOYER_KEY_VAR
